.main {
  display: grid;
  place-items: start center;

  width: 100%;
  min-height: 100dvh;

  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.viewport {
  position: relative;
  width: 100%;
  max-width: 430px;
  height: 100%;

  background: var(--color-point2);
  overflow: hidden;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  color: var(--color-main1);
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font: var(--font-main3);
  margin: 53px 0 0;
}

.title {
  font: var(--font-main1);
  margin: 0;
}

.description {
  font: var(--font-body1);
  margin: 32px 0 28px;
}

.divider {
  position: relative;
  width: 108%;
  margin-left: -21px;
  z-index: 10;
}

.garden {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 556px;

  margin-top: -20px;
  padding: 16px 0 24px;

  background: url("/assets/character/character1.svg") no-repeat top 72px right
      303px,
    url("/assets/character/character2.svg") no-repeat top 306px left 283px,
    var(--color-main2);

  overflow: visible;
}

.searchInner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gridWrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  margin-top: 28px;
  padding-bottom: 8px;

  overflow: visible;
}

.soilBox {
  position: relative;
    display: flex;

  flex-direction: column;
  align-items: center;
  width: 100%;
}

.plantGridArea {
  position: relative;
  width: 360px;
  height: 390px;
  overflow: visible;
}
