.pagerButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10;
}

.left {
  left: calc(50% - 50vw + env(safe-area-inset-left));
}

.right {
  right: calc(50% - 50vw + env(safe-area-inset-right));
}

.disabled {
  cursor: default;
  pointer-events: none;
}
