.container {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  pointer-events: none;
}

.button {
  width: 36px;
  height: 36px;
  padding: 0;
  background: transparent;
  border: none;

  cursor: pointer;
  pointer-events: auto;
}

.left {
  margin-left: 0;
}
.right {
  margin-right: 0;
}

.disabled {
  cursor: default;
}

.iconDisabled {
  opacity: 0.3;
  filter: grayscale(1);
}
