.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 720px;
  margin: 0 auto;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  font: var(--font-main1);
  color: var(--color-white);
  text-align: center;
}
