.base {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 312px;
    height: 48px;

    border-radius: 8px;

    padding: 13px 120px;
    gap: 10px;

    margin-top: 20px;
    margin-left: 20px;

    font-family: "Yoon-Childfundkorea-DaeHan", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    white-space: nowrap;

    border: none;
}

.active {
    background-color: var(--color-point1);
    color: var(--color-white);
}

.inactive {
    background-color: var(--color-main5);
    color: var(--color-main3);
}