.wrap {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 312px;
    height: 48px;

    padding: 13px 12px;
    gap: 10px;

    border: 1px solid var(--color-main3);
    border-radius: 8px;

    background-color: var(--color-main4);
    box-sizing: border-box;
}

.input {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    outline: none;

    width: 100%;
    height: 100%;

    font-family: "Yoon-Childfundkorea-Manseh", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    color: var(--color-main1);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    white-space: nowrap;
}

.input::placeholder {
    color: var(--color-main3);
    opacity: 1;
}

.input:focus::placeholder {
    color: transparent;
}
