.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 112px;
  height: 140px;
  gap: 8px;

  background: transparent;
  cursor: pointer;
  text-decoration: none;
  border: none;
  padding: 0;
}

.item.active .imageWrap {
  transform: scale(1.05);
  transition: transform 0.15s ease;
}

.imageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  display: block;
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
}

.label {
  font-family: "Yoon-Childfundkorea-DaeHan", system-ui;
  color: var(--color-white);
  font-size: 14px;
  line-height: 140%;
  text-align: center;

  word-break: break-all;
  overflow-wrap: anywhere;
}
