.card {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-main4);
  border-radius: 8px;

  border: 1px solid transparent;

  cursor: pointer;
  transition: border 0.15s ease, transform 0.15s ease;
}

.md {
  width: 98px;
  height: 110px;
}

.lg {
  width: 120px;
  height: 140px;
}

.selected {
  border: 1px solid var(--color-point1);
  box-shadow: 0 0 10px rgba(35, 167, 193, 0.5);
}

.image {
  user-select: none;
  -webkit-user-drag: none;
  object-fit: contain;
}
