.box {
    position: relative;

    width: 312px;
    height: 312px;

    padding: 16px;

    background-color: var(--color-main4);
    box-sizing: border-box;
}

.full {
    width: 100%;
}

.input {
    display: block;
    resize: none;

    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    outline: none;

    width: 100%;
    min-height: 100%;

    font-family: "Yoon-Childfundkorea-Manseh", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    color: var(--color-main1);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
}

.input::placeholder {
    color: var(--color-main3);
    opacity: 1;
}

.input:focus::placeholder {
    color: transparent;
}

.counter {
    position: absolute;
    bottom: 16px;
    right: 15px;

    font-family: "Yoon-Childfundkorea-Daehan", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    color: var(--color-main1);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    white-space: nowrap;
}