.box {
  position: relative;
  background-color: var(--color-main4);
  padding: 16px;
  box-sizing: border-box;
  border-radius: 8px;
}

.md {
  width: 312px;
  height: 312px;
}

.lg {
  width: 100%;
  height: 360px;
}

.input {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  background: transparent;

  font-family: "Yoon-Childfundkorea-Manseh", system-ui;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-main1);
}

.input::placeholder {
  color: var(--color-main3);
}

.counter {
  position: absolute;
  bottom: 16px;
  right: 16px;

  font-family: "Yoon-Childfundkorea-Daehan", system-ui;
  font-size: 14px;
  color: var(--color-main1);
}

.counterWarn {
  color: var(--color-point1);
}

.counterOver {
  color: var(--color-error);
}
