:root {
  --font-main1: normal 400 20px/140% "Yoon-Childfundkorea-DaeHan",
    system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --font-main2: normal 400 16px/140% "Yoon-Childfundkorea-DaeHan",
    system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --font-main3: normal 400 14px/140% "Yoon-Childfundkorea-DaeHan",
    system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;

  --font-body1: normal 400 14px/150% "Yoon-Childfundkorea-Manseh",
    system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --font-body2: normal 400 12px/140% "Yoon-Childfundkorea-Manseh",
    system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}