.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    padding: 23px 0px 32px;
    display: grid;
    place-items: center;
}

.body {
    place-items: center;
    height: 190px;
    overflow: auto;
}

.text {
    width: 272px;

    font-family: "Yoon-Childfundkorea-Manseh", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    color: var(--color-main1);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    white-space: pre-line;
    text-align: left;
    word-break: keep-all;
    white-space: pre-wrap; 
    overflow-wrap: anywhere;
}

.footer {
    padding: 25px 20px 20px;
    display: flex;
    justify-content: flex-end;
}

.author {
    font-family: "Yoon-Childfundkorea-Manseh", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
    color: var(--color-point1);
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0;
    text-align: right;
}